body {
    background-color: #222;
    color: #eee;
    font-family: sans-serif;
}

/* Estilos para header, nav, main, sections, etc. */
#formCadastroCliente input[type="text"],
#formCadastroCliente input[type="tel"],
#formCadastroCliente input[type="file"] {
    width: calc(100% - 20px); /* Ocupa 100% da largura do container, menos 20px para padding/margem */
    max-width: 400px; /* Limita a largura máxima para evitar que fique muito grande em telas maiores */
}

#formCadastroCliente {
    display: flex; /* Ativa o Flexbox no formulário */
    flex-direction: column; /* Organiza os elementos em coluna */
    gap: 10px; /* Espaçamento entre os elementos */
}

#formCadastroCliente div {
    display: flex; /* Ativa o Flexbox nos divs que envolvem cada campo */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
}

#formCadastroCliente label {
    width: 120px; /* Largura fixa para os labels */
    margin-right: 10px; /* Espaçamento entre label e input */
}

#formCadastroCliente button[type="submit"] {
    padding: 10px 20px; /* Ajuste o padding para diminuir o tamanho */
    background-color: #4CAF50; /* Cor de fundo (verde) */
    color: white; /* Cor do texto (branco) */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

#formCadastroCliente button[type="reset"] {
    padding: 10px 20px;
    background-color: #f44336; /* Cor de fundo (vermelho) */
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Adiciona um espaçamento à direita */
}
